.Contact {
  margin-top: 10vh;
  padding-top: 5vh;
  min-height: 75vh;
  position: relative;
  text-align: center;
  background: linear-gradient(#f48787 100%, #e76e59 50%);
}

.Contact > header {
  font-weight: bold;
  font-size: 64px;
  letter-spacing: 1px;
  /* line-height: 30px; */
  text-shadow: 2px -2px 1px black;
  color: #272341;
}

.contact__email > p {
  color: #212020;
  font-size: 38px;
  letter-spacing: 1px;
  /* line-height: 30px;    */
  font-weight: bold;
  margin-bottom: 3vh;
}

.contact__email {
  margin-top: 15vh;
}

.contact__email > a {
  background: linear-gradient(#f48787, #e76e59);
  border: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 32px;
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 30px;
  cursor: pointer;
  text-decoration: none;
}

.Contact > footer {
  position: absolute;
  bottom: 0;
  background-color: #333333;
  /* height: 30vh; */
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 28vh;
  /* align-items: center; */
}

.contact__socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  gap: 9vw;
  padding: 10px;
}

.contact__socialMedia>a{
    cursor: pointer;
}

.contact__line {
  height: 2px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  /* width: 80vw; */
  margin-left: 28vw;
  margin-right: 28vw;
  text-align: center;
}

.credits {
  font-weight: lighter;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 768px) and (max-width: 1024px){
    .Contact>header{
        font-size: 45px;
    }

    .contact__email>p{
        font-size: 35px;
    }

    .contact__email>a{
        font-size: 25px;
        padding: 8px 24px;
    }

    .contact__line{
        margin-left: 24vw;
        margin-right: 24vw;
    }
}

@media screen and (max-width: 767px){
    .Contact>header{
        font-size: 35px;
    }

    .contact__email>p{
        font-size: 25px;
    }

    .contact__email>a{
        font-size: 20px;
        padding: 8px 24px;
    }

    .contact__line{
        margin-left: 22vw;
        margin-right: 22vw;
    }
}